@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

@font-face {
  font-family: "Grandslang Roman";
  src: url("../assets/fonts/grandslang-roman.otf") format("opentype");
}

:root {
  --charcoal: #1a1818;
  --offwhite: #ece7e1;
  --coral: #cf8479;
  --blue: #3e52ae;
  --nude: #f1d5bf;
  --red: #ff471a;
  --pinkdust: #c69e91;
  --white: white;
  --black: black;
  --new-red: orangered;
  --pink: #f8c9e8;
  --new-pink: #ff94c1;
}

* {
  box-sizing: border-box;
}

.index-page-container {
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
}

html,
#root {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--offwhite);
  font-family: "Montserrat", sans-serif;
}

.links {
  z-index: 100;
  color: var(--charcoal);
  text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: "Grandslang roman", sans-serif;
  font-size: clamp(3rem, 10vw, 15rem);
  font-weight: 300;
  line-height: 0.95em;
  text-decoration: none;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
  display: block;
  position: relative;
}

.links:hover {
  transform: skewX(-7deg) translateX(15px);
}

.name {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--charcoal);
}

.occupation {
  margin-left: 0;
  margin-right: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.9em;
  position: relative;
  color: var(--charcoal);
}

.nav-left-item {
  transform: rotate(-90deg);
  margin: 1rem 0;
  color: black;
}

.nav-links-upper {
  justify-content: center;
  align-items: center;
}

.nav-items-container {
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  align-content: center;
  height: 92%;
  width: 50px;
  position: fixed;
}

.border {
  width: 1px;
  height: 100px;
  background-color: var(--charcoal);
  margin-left: 0.1rem;
  margin-top: 50px;
  margin-bottom: 80px;
  display: block;
  color: black;
}

.socials {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 5px;
  text-align: center;
}

.copyright {
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 5rem;
  width: 5rem;
}

.socials:hover {
  text-decoration: line-through;
  color: black;
}

.main-info {
  justify-content: center;
  gap: 4rem;
  align-self: center;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin-left: 7rem;
}

.name-box {
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 2rem;
}

h1,
p {
  margin: 0.3rem 0;
}

.headers-container {
  max-width: 100%;
  height: auto;
  margin: 1rem 1rem;
}

/* CONTACT PAGE */

.contact-index-page-container {
  background-color: var(--charcoal);
  height: 100%;
  max-width: 100%;
}

.contact-page-font-color {
  color: var(--offwhite);
}

.contact-page-font-color:hover {
  color: var(--offwhite);
}

.border-color {
  background-color: var(--offwhite);
}

.contact-main-info {
  font-family: Montserrat, sans-serif;
  color: var(--offwhite);
  max-width: 100%;
  height: 100%;
  margin-left: 15rem;
  justify-content: center;
}

.contact-main-info h1 {
  font-size: clamp(4rem, 5vw, 12rem);
  font-family:
    Grandslang roman,
    sans-serif;
  margin-bottom: 1rem;
  margin: 0;
}

.contact-main-info p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.9em;
  margin: 0;
}

.paragraph {
  margin-bottom: 1.7rem !important;
}

.email {
  color: var(--offwhite);
  cursor: pointer;
}

.email:hover {
  text-decoration: underline;
  color: var(--offwhite);
}

.email:visited {
  color: var(--offwhite);
}

/* ABOUT PAGE */

.about-index-page-container {
  background-color: var(--offwhite);
  color: var(--charcoal);
  height: 100%;
  max-width: 100%;
}

.about-main-info {
  max-width: 60%;
  margin-left: 10rem;
  flex-wrap: wrap;
}

.about-index-page-container img {
  width: 30rem;
  height: 30rem;
}

.about-content h1 {
  font-family:
    Grandslang roman,
    sans-serif;
  font-size: 14vw;
  font-weight: 300;
  line-height: 1em;
}

.about-content h2 {
  font-family:
    Grandslang roman,
    sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.3em;
  display: block;
  width: 80%;
}

.about-content p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.9em;
  width: 80%;
  width: 80%;
  font-size: 0.9rem;
}

.about-content h4 {
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family:
    Grandslang roman,
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.75em;
  position: relative;
}

q {
  margin-top: 2rem;
  font-size: 36px;
  margin-bottom: 2rem;
  font-family:
    Grandslang roman,
    sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  width: 80%;
}

.ed-exp-line {
  margin: 0;
}

.ed-exp-header {
  padding-bottom: 0.4rem;
}

.cv {
  background-color: var(--charcoal);
  color: var(--offwhite);
  letter-spacing: 1px;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-family:
    Grandslang roman,
    sans-serif;
  font-size: 24px;
  font-weight: 400;
  transition: padding 0.25s ease-in-out;
  width: 6rem;
  text-align: center;
  margin: 1rem 0;
}

.cv:hover {
  padding-left: 3rem;
  padding-right: 3rem;
  text-decoration: none;
}

br {
  height: 0.8rem;
}

/* WORK PAGE */

.work-container {
  max-width: 100%;
  min-height: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 4rem;
}

.work-paragraph,
.work-links {
  justify-content: flex-start;
  align-self: flex-end;
  max-width: 100%;
  margin-bottom: 10rem;
}

.work-links .link-work-name {
  z-index: 100;
  color: var(--offwhite);
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family:
    Grandslang roman,
    sans-serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 300;
  line-height: 0.95em;
  text-decoration: none;
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out,
    font-size 0.3s ease-in-out;
  display: block;
  position: relative;
  padding-top: 4%;
}

.work-links .link-work-name:hover {
  transform: skewX(-7deg) translateX(15px);
}

.work-links {
  margin-right: 7rem;
}

.gh-link {
  font-family: Montserrat, sans-serif;
  color: var(--offwhite);
  font-size: 1rem;
  text-decoration: none;
}

.gh-link:hover {
  text-decoration: underline;
}

/* ANIMATION EFFECT ON LOAD */

body {
  animation: 1s ease-out 0s 1 FadeIn;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Small screens (tablets in portrait mode) */
@media (max-width: 768px) {
  .work-paragraph {
    margin-bottom: 2rem;
  }

  .work-container {
    margin-left: 7rem;
    gap: 1rem;
  }

  .contact-main-info {
    margin-left: 6rem;
  }

  .about-main-info {
    max-width: 100%;
    margin-left: 5rem;
  }

  .headers-container {
    margin: 0;
  }

  .main-info {
    gap: 2rem;
  }

  .work-links {
    margin-right: 0;
  }

  .contact-main-info {
    margin-right: 2rem;
  }
}

/* Medium screens (tablets in landscape mode, small desktops) */
@media (max-width: 1024px) {
  .work-paragraph {
    margin-bottom: 2rem;
  }

  .work-container {
    margin-left: 7rem;
    gap: 1rem;
  }

  .contact-main-info {
    margin-left: 6rem;
  }

  .about-main-info {
    max-width: 100%;
    margin-left: 5rem;
  }

  .headers-container {
    margin: 0;
  }

  .main-info {
    gap: 2rem;
  }

  .work-links {
    margin-right: 0;
  }

  .contact-main-info {
    margin-right: 2rem;
  }
}

/* Very small screens (large phones, small tablets) */
@media (max-width: 600px) {
  .work-paragraph {
    margin-bottom: 2rem;
  }

  .work-container {
    margin-left: 7rem;
    gap: 1rem;
  }

  .contact-main-info {
    margin-left: 6rem;
  }

  .about-main-info {
    max-width: 100%;
    margin-left: 5rem;
  }

  .headers-container {
    margin: 0;
  }

  .main-info {
    gap: 2rem;
  }

  .work-links {
    margin-right: 0;
  }

  .contact-main-info {
    margin-right: 2rem;
  }
}

/* Extra small screens (phones) */
@media (max-width: 480px) {
  .work-paragraph {
    margin-bottom: 2rem;
  }

  .work-container {
    margin-left: 7rem;
    gap: 1rem;
  }

  .contact-main-info {
    margin-left: 5rem;
  }

  .about-main-info {
    max-width: 100%;
    margin-left: 3rem;
  }

  .headers-container {
    margin: 0;
  }

  .main-info {
    gap: 2rem;
  }

  .work-links {
    margin-right: 0;
  }

  .contact-main-info {
    margin-right: 1rem;
  }
}
